# package directories
node_modules
lib

# Other
.env
*.log
.DS_Store
tsconfig.tsbuildinfo
**/.DS_Store
**/.env

.defender
.platform
.serverless
secrets.*.yml

**/.defender
**/.platform
**/.serverless
**/secrets.*.yml



.vscode

# example deployments
examples/platform-test-project/.defender
examples/platform-test-project/.platform
examples/platform-test-project/.serverless

examples/defender-test-project/.defender
examples/defender-test-project/.platform
examples/defender-test-project/.serverless