# package directories
node_modules
lib

# Other
.env
*.log
.DS_Store
tsconfig.tsbuildinfo

.vscode

# example deployments
examples/platform-test-project/.defender
examples/platform-test-project/.platform
examples/platform-test-project/.serverless
